<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.plat.term.mapper.BizStatBasicMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hongdian.plat.term.entity.BizStatBasic">
		<id column="ID" property="id" />
		<result column="STCD" property="stcd" />
		<result column="STNM" property="stnm" />
		<result column="STTP" property="sttp" />
		<result column="ADCD" property="adcd" />
		<result column="MNG_CD" property="mngCd" />
		<result column="DIRECTOR" property="director" />
		<result column="TEL" property="tel" />
		<result column="STLC" property="stlc" />
		<result column="LGTD" property="lgtd" />
		<result column="LTTD" property="lttd" />
		<result column="BUILD_DATE" property="buildDate" />
		<result column="STATUS" property="status" />
		<result column="USFL" property="usfl" />
		<result column="DTMNM" property="dtmnm" />
		<result column="DTMEL" property="dtmel" />
		<result column="DTPR" property="dtpr" />
		<result column="MODITIME" property="moditime" />
		<result column="COMMENTS" property="comments" />
	</resultMap>
	
	<resultMap id="DtoResultMap" type="com.hongdian.plat.term.dto.StationDto" extends="BaseResultMap">
		<association property="termDto" column="{stationId=id}" select="com.hongdian.plat.term.mapper.TermMapper.selectTermDtoByStationId" />  
	</resultMap>
	<select id="findStationDtoList" parameterType="java.util.HashMap" resultMap="DtoResultMap" resultType="com.hongdian.plat.term.dto.StationDto">
		select obj.* from BIZ_STAT_BASIC obj
		left join term t on t.station_id = obj.id
		left join term_header th on th.term_sn = t.sn
		<include refid="dy_where" />
	</select>
	
	<sql id="dy_where">
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="null != id and '' != id">
				AND obj.ID = #{id}
			</if>
			<if test="null != stcd and '' != stcd">
				AND obj.STCD = #{stcd}
			</if>
			<if test="null != stnm and '' != stnm">
				AND obj.stnm like '%${stnm}%'
			</if>
			<if test="null != onlineState and '' != onlineState">
				AND th.online_state = #{onlineState}
			</if>
			<if test="null != termSn and '' != termSn">
				AND t.sn = #{termSn}
			</if>
		</trim>
	</sql>
	
</mapper>
