<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.plat.term.mapper.FloodPlaystaCurMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongdian.plat.term.entity.FloodPlaystaCur">
        <id column="TERM_SN" property="termSn" />
        <result column="ALARM_INFO_ID" property="alarmInfoId" />
        <result column="GATE" property="gate" />
        <result column="DATA_TM" property="dataTm" />
        <result column="PLAY_STATUS" property="playStatus" />
        <result column="CONTENT" property="content" />
    </resultMap>
    
    <!-- 实时查询 -->
    <resultMap id="PlaystaCurrentMap" type="com.hongdian.plat.term.entity.FloodPlaystaCurrent" extends="BaseResultMap">
        <!--rel-->
		<result column="ID" property="rel.id" />
		<result column="gate" property="rel.gate" />
        
        <!--alarm-->
		<result column="ALARM_TYPE" property="alarm.alarmType" />
		<result column="PUB_STATUS" property="alarm.pubStatus" />
		<result column="TITLE" property="alarm.title" />
        <result column="LEVEL" property="alarm.level" />
        <result column="CONTENT" property="alarm.content" />
        <result column="PLAY_NUM" property="alarm.playNum" />
        <result column="FILE_TYPE" property="alarm.fileType" />
    </resultMap>

    <!--查询全部实时预警-->
    <select id="findFoodPlaystaCurList" parameterType="java.util.HashMap" resultMap="PlaystaCurrentMap" resultType="com.hongdian.plat.term.entity.FloodPlaystaCurrent">
        select c.TERM_SN,c.ALARM_INFO_ID,c.GATE,c.DATA_TM,c.PLAY_STATUS,a.CONTENT
        ,a.ALARM_TYPE,a.CREATE_TIME,a.CREATE_PERSON,a.PUB_TIME,a.PUB_STATUS,a.TITLE,a.LEVEL,a.CONTENT,a.PLAY_NUM,a.FILE_TYPE,a.SN_NUM 
        from FLOOD_PLAYSTA_CUR c 
        left join FLOOD_VOX_REL rel on c.TERM_SN=rel.GATE
        left join FLOOD_VOX_ALARM a on a.ID=rel.ID
        <!--这个晚点再加条件-->
        where (c.PLAY_STATUS=0 or c.PLAY_STATUS=1 or c.PLAY_STATUS=2)
        <if test="termSn != null and termSn !=''" >
            and  c.TERM_SN=#{termSn}
        </if>
        <if test="playStatus != null and playStatus !=''" >
            and  c.PLAY_STATUS=#{playStatus}
        </if>
        <if test="null != search and '' != search">
            and  (a.CONTENT like '%${search}%' OR a.ALARM_TYPE like '%${search}%' OR a.TITLE like '%${search}%')
        </if>
    </select>
    
</mapper>
