<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.plat.term.mapper.FloodPlaystaHisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongdian.plat.term.entity.FloodPlaystaHis">
        <id column="TERM_SN" property="termSn" />
        <result column="ALARM_INFO_ID" property="alarmInfoId" />
        <result column="GATE" property="gate" />
        <result column="DATA_TM" property="dataTm" />
        <result column="PLAY_STATUS" property="playStatus" />
        <result column="CONTENT" property="content" />
    </resultMap>
    
    <!-- 实时查询 -->
    <resultMap id="PlaystaHistoryMap" type="com.hongdian.plat.term.entity.FloodPlaystaCurrent" extends="BaseResultMap">
        <!--rel-->
		<result column="ID" property="rel.id" />
		<result column="gate" property="rel.gate" />
        
        <!--alarm-->
		<result column="ALARM_TYPE" property="alarm.alarmType" />
		<result column="PUB_STATUS" property="alarm.pubStatus" />
		<result column="TITLE" property="alarm.title" />
        <result column="LEVEL" property="alarm.level" />
        <result column="CONTENT" property="alarm.content" />
        <result column="PLAY_NUM" property="alarm.playNum" />
        <result column="FILE_TYPE" property="alarm.fileType" />
    </resultMap>
    
    <!--查询全部实时预警-->
    <select id="findFoodPlaystaHisList111" parameterType="java.util.HashMap" resultMap="PlaystaHistoryMap" resultType="com.hongdian.plat.term.entity.FloodPlaystaCurrent">
        select c.TERM_SN,c.ALARM_INFO_ID,c.GATE,c.DATA_TM,c.PLAY_STATUS,a.CONTENT
        ,a.ALARM_TYPE,a.CREATE_TIME,a.CREATE_PERSON,a.PUB_TIME,a.PUB_STATUS,a.TITLE,a.LEVEL,a.CONTENT,a.PLAY_NUM,a.FILE_TYPE,a.SN_NUM 
        from FLOOD_PLAYSTA_HIS c 
        left join FLOOD_VOX_REL rel on c.TERM_SN=rel.GATE
        left join FLOOD_VOX_ALARM a on a.ID=rel.ID
        <!--这个晚点再加条件-->
        where 1=1 
        <if test="termSn != null and termSn !=''" >
            and  c.TERM_SN=#{termSn}
        </if>
    </select>
    
    <!--查询全部实时预警-->
    <select id="findFoodPlaystaHisList" parameterType="java.util.HashMap" resultMap="PlaystaHistoryMap" resultType="com.hongdian.plat.term.entity.FloodPlaystaCurrent">
        select c.TERM_SN,c.ALARM_INFO_ID,c.GATE,c.DATA_TM,c.PLAY_STATUS,c.CONTENT 
        from FLOOD_PLAYSTA_HIS c 
        <!--这个晚点再加条件-->
        where 1=1 
        <if test="termSn != null and termSn !=''" >
            and  c.TERM_SN=#{termSn}
        </if>
        <if test="id != null and id !=''" >
            and  c.ALARM_INFO_ID=#{id}
        </if>
        order by c.DATA_TM asc
    </select>

</mapper>
