<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.plat.term.mapper.ScheduleTaskMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hongdian.plat.term.entity.ScheduleTask">
		<result column="ID" property="id" />
		<result column="TERM_SN" property="termSn" />
		<result column="CTRL_NAME" property="ctrlName" />
		<result column="CTRL_DESCRIPTION" property="ctrlDescription" />
		<result column="EXEC_START_TIME" property="execStartTime" />
		<result column="EXEC_END_TIME" property="execEndTime" />
		<result column="STATUS" property="status" />
		<result column="MAX_FAIL_COUNT" property="maxFailCount" />
		<result column="FAIL_COUNT" property="failCount" />
		<result column="FAIL_CODE" property="failCode" />
		<result column="FAIL_MSG" property="failMsg" />
		<result column="CONTENT" property="content" />
		<result column="EXEC_PROCESS" property="execProcess" />
		<result column="TACTICS_ID" property="tacticsId" />
	</resultMap>
	
	<resultMap id="DtoResultMap" type="com.hongdian.plat.term.dto.TaskDto" extends="BaseResultMap">
		<result column="TERM_NAME" property="termName" />
		<result column="STNM" property="stnm" />
	</resultMap>

	<select id="findTaskList" parameterType="java.util.HashMap" resultMap="DtoResultMap" resultType="com.hongdian.plat.term.dto.TaskDto">
		select obj.* from dev_schedule_task obj
		<include refid="dy_where" />
	</select>
	
	<sql id="dy_where">
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="null != id and '' != id">
				AND obj.ID = #{id}
			</if>
			<if test="null != termSn and '' != termSn">
				AND obj.TERM_SN = #{termSn}
			</if>
<!--			<if test="null != stnm and '' != stnm">
				AND obj.stnm like '%${stnm}%'
			</if>-->
			<if test="null != ctrlName and '' != ctrlName">
				AND obj.CTRL_NAME = #{ctrlName}
			</if>
			<if test="null != status and '' != status">
				AND obj.STATUS = #{status}
			</if>
			<if test="null != statusList">
				AND obj.STATUS IN
				<foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="null != source and '' != source">
				AND obj.SOURCE = #{source}
			</if>
		</trim>
	</sql>

</mapper>
