<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.plat.term.mapper.TermModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongdian.plat.term.entity.TermModel">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="DESCRIPTION" property="description" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <select id="findTermModelsList" parameterType="java.util.HashMap" resultMap="BaseResultMap" resultType="com.hongdian.plat.term.entity.TermModel">
		select * from term_model obj
	</select>
</mapper>
