<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.plat.term.mapper.TermStatusDescMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hongdian.plat.term.entity.TermStatusDesc">
		<id column="ID" property="id" />
		<result column="GROUP_ID" property="groupId" />
		<result column="NAME" property="name" />
		<result column="DESCRIPTION" property="description" />
		<result column="REMARK" property="remark" />
	</resultMap>
	
	<resultMap id="DtoeResultMap" type="com.hongdian.plat.term.dto.TermStatusDescDto" extends="BaseResultMap">
		<result column="GROUP_ID" property="statusGroup.id" />
		<result column="GROUP_NAME" property="statusGroup.name" />
		<result column="GROUP_REMARK" property="statusGroup.remark" />
	</resultMap>
	
	<select id="selectTermDescList" parameterType="java.util.HashMap" resultMap="DtoeResultMap" resultType="com.hongdian.plat.term.dto.TermStatusDescDto">
		SELECT obj.* ,tsg.name GROUP_NAME , tsg.remark GROUP_REMARK from term_status_desc obj
		LEFT JOIN term_status_group tsg on tsg.id = obj.GROUP_ID
		<include refid="dy_where" />
	</select>
	
	<select id="selectTermDescListByType" parameterType="java.util.HashMap" resultMap="DtoeResultMap" resultType="com.hongdian.plat.term.dto.TermStatusDescDto">
		SELECT obj.* ,tsg.name GROUP_NAME , tsg.remark GROUP_REMARK from term_status_desc obj
		LEFT JOIN term_status_group tsg on tsg.id = obj.GROUP_ID
		LEFT JOIN term_type_status tts on tts.status_id = obj.ID
		<include refid="dy_where" />
	</select>
	
	<!--selectTermTypeStatusDtoList嵌套查询-->
	<select id="selectTermDescDtoListByType" parameterType="java.lang.Integer" resultMap="DtoeResultMap" resultType="com.hongdian.plat.term.dto.TermStatusDescDto">
		SELECT obj.* ,tsg.name GROUP_NAME , tsg.remark GROUP_REMARK from term_status_desc obj
		LEFT JOIN term_status_group tsg on tsg.id = obj.GROUP_ID
		LEFT JOIN term_type_status tts on tts.status_id = obj.ID
		where tts.term_type_id = #{termTypeId}
	</select>
	
	
	<sql id="dy_where">
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="null != groupId and '' != groupId">
				AND obj.GROUP_ID = #{groupId}
			</if>
			<if test="null != search and '' != search">
				AND (obj.name like '%${search}%' OR obj.description like '%${search}%' OR tsg.name like '%${search}%')
			</if>
			<if test="null != termType and '' != termType">
				AND tts.term_type_id = #{termType}
			</if>
		</trim>
	</sql>

</mapper>
