<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.plat.term.mapper.TermTypeStatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongdian.plat.term.entity.TermTypeStatus">
        <id column="TERM_TYPE_ID" property="termTypeId" />
        <result column="STATUS_ID" property="statusId" />
    </resultMap>

</mapper>
