<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.plat.term.mapper.TermHeaderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hongdian.plat.term.entity.TermHeader">
		<id column="TERM_SN" property="termSn" />
		<result column="ONLINE_STATE" property="onlineState" />
		<result column="IP" property="ip" />
		<result column="PORT" property="port" />
		<result column="LAST_LOGIN_TIME" property="lastLoginTime" />
		<result column="LAST_LOGOUT_TIME" property="lastLogoutTime" />
		<result column="LAST_HEART_TIME" property="lastHeartTime" />
		<result column="SOURCE_BIZ" property="sourceBiz" />
		<result column="SOURCE_OPS" property="sourceOps" />
		<result column="PARAM_VERSION" property="paramVersion" />
		<result column="CONNECT_TYPE" property="connectType" />
		<result column="EXT_ONE" property="extOne" />
		<result column="EXT_TWO" property="extTwo" />
	</resultMap>
	
	<update id="updateAllTermOffline" parameterType="java.util.HashMap">
		UPDATE TERM_HEADER 
		<trim prefix="SET" suffixOverrides=","> 
			<if test="null != onlineState and '' != onlineState">
				ONLINE_STATE = #{onlineState},
			</if>
			<if test="null != lastLogoutTime and '' != lastLogoutTime">
				LAST_LOGOUT_TIME = #{lastLogoutTime}
				<!--                <![CDATA[
				   LAST_LOGOUT_TIME = to_date(#{lastLogoutTime},'yyyy-mm-dd hh24:mi:ss')
				]]>-->
			</if>
		</trim>
	</update>
	
	<update id="updateFepSourceTermOffline" parameterType="java.util.HashMap">
		UPDATE TERM_HEADER obj
		<trim prefix="SET" suffixOverrides=","> 
			<if test="null != onlineState">
				obj.ONLINE_STATE = #{onlineState},
			</if>
			<if test="null != lastLogoutTime and '' != lastLogoutTime">
				obj.LAST_LOGOUT_TIME = #{lastLogoutTime},
			</if>
			obj.SOURCE_OPS = null, obj.SOURCE_BIZ = null
		</trim>
		
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="null != sourceOps and '' != sourceOps">
				AND obj.SOURCE_OPS = #{sourceOps}
			</if>
			<if test="null != sourceBiz and '' != sourceBiz">
				AND obj.SOURCE_BIZ = #{sourceBiz}
			</if>
		</trim>
	</update>

</mapper>
