<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongdian.sys.auth.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongdian.sys.auth.entity.SysLog">
        <id column="ID" property="id" />
        <result column="USER_IP" property="userIp" />
        <result column="EXP2" property="exp2" />
        <result column="EXP1" property="exp1" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="PARAMS" property="params" />
        <result column="URL" property="url" />
        <result column="TITLE" property="title" />
        <result column="USER_NAME" property="userName" />
    </resultMap>

</mapper>
