<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyan.ms.term.mapper.FloodVoxAlarmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyyan.ms.term.entity.FloodVoxAlarm">
        <id column="ID" property="id" />
        <result column="SEND_TYPE" property="sendType" />
        <result column="ALARM_TYPE" property="alarmType" />
        <result column="GATE_NUM" property="gateNum" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_PERSON" property="createPerson" />
        <result column="PUB_TIME" property="pubTime" />
        <result column="PUB_STATUS" property="pubStatus" />
        <result column="TITLE" property="title" />
        <result column="LEVEL" property="level" />
        <result column="CONTENT" property="content" />
        <result column="PLAY_NUM" property="playNum" />
        <result column="FILE_TYPE" property="fileType" />
        <result column="SN_NUM" property="snNum" />
        <result column="TASK_ID" property="taskId" />
    </resultMap>
    
    <!--根据taskId修改发布状态-->
    <update id="updatePubStatusByTaskId" parameterType="com.zyyan.ms.term.entity.FloodVoxAlarm">
        UPDATE FLOOD_VOX_ALARM obj 
        <trim prefix="SET" suffixOverrides=","> 
            <if test="null != pubStatus and '' != pubStatus">
                obj.PUB_STATUS = #{pubStatus} 
            </if>
        </trim>
        WHERE obj.ID = #{id}
    </update>
    
    <!-- 实时查询 -->
    <resultMap id="PlaystaCurrentMap" type="com.zyyan.ms.term.entity.FloodVoxAlarmCurrent" extends="BaseResultMap">
        <!--rel-->
        <result column="ID" property="rel.id" />
        <result column="gate" property="rel.gate" />
        
        <!--        cur
        <result column="TERM_SN" property="cur.termSn" />
        <result column="ALARM_INFO_ID" property="cur.alarmInfoId" />
        <result column="GATE" property="cur.gate" />
        <result column="DATA_TM" property="cur.dataTm" />
        <result column="PLAY_STATUS" property="cur.playStatus" />
        <result column="CONTENT" property="cur.content" />-->
    </resultMap>

    <!--查询全部实时预警-->
    <select id="findFoodPlaystaCurList" parameterType="java.util.HashMap" resultMap="PlaystaCurrentMap" resultType="com.zyyan.ms.term.entity.FloodPlaystaCurrent">
        select 
        rel.gate,
        <!--c.TERM_SN,c.ALARM_INFO_ID,c.GATE,c.DATA_TM,c.PLAY_STATUS-->
        a.CONTENT,
        a.ALARM_TYPE,a.CREATE_TIME,a.CREATE_PERSON,a.PUB_TIME,a.PUB_STATUS,
        a.TITLE,a.LEVEL,a.CONTENT,a.PLAY_NUM,a.FILE_TYPE,a.SN_NUM,a.GATE_NUM,
        a.CREATE_TIME,a.ID,a.task_Id 
        from  FLOOD_VOX_ALARM a
        left join FLOOD_VOX_REL rel on a.ID=rel.ID
        <!--left join FLOOD_PLAYSTA_CUR c on (a.ID=c.ALARM_INFO_ID and c.TERM_SN=rel.gate)-->
        <!--这个晚点再加条件-->
        where 1=1
        <if test="termSn != null and termSn !=''" >
            and  rel.gate=#{termSn}
        </if>
        <if test="pubStatus != null and pubStatus !=''" >
            and  a.PUB_STATUS=#{pubStatus}
        </if>
        <if test="null != search and '' != search">
            and  (a.CONTENT like '%${search}%' OR a.ALARM_TYPE like '%${search}%' OR a.TITLE like '%${search}%')
        </if>
        order by a.CREATE_TIME desc 
    </select>
    
    <!-- 实时查询 -->
    <resultMap id="PlaystaHistoryMap" type="com.zyyan.ms.term.entity.FloodVoxAlarm" extends="BaseResultMap">
        <!--rel-->
        <result column="ID" property="rel.id" />
        <result column="gate" property="rel.gate" />
        
        <!--his-->
        <result column="TERM_SN" property="his.termSn" />
        <result column="ALARM_INFO_ID" property="his.alarmInfoId" />
        <result column="GATE" property="his.gate" />
        <result column="LEVEL" property="his.level" />
        <result column="DATA_TM" property="his.dataTm" />
        <result column="PLAY_STATUS" property="his.playStatus" />
        <result column="CONTENT" property="his.content" />
    </resultMap>
    
    <!-- 实时查询 -->
    <resultMap id="PlaystaGatesMap" type="com.zyyan.ms.term.entity.FloodVoxAlarmCurrent" extends="BaseResultMap">
        <!--rel-->
        <result column="ID" property="rel.id" />
        <result column="gate" property="rel.gate" />
        
        <!--cur-->
        <result column="TERM_SN" property="cur.termSn" />
        <result column="ALARM_INFO_ID" property="cur.alarmInfoId" />
        <result column="GATE" property="cur.gate" />
        <result column="DATA_TM" property="cur.dataTm" />
        <result column="PLAY_STATUS" property="cur.playStatus" />
        <result column="CONTENT" property="cur.content" />
    </resultMap>
    
    <!--查询全部实时预警-->
    <select id="findFoodPlaystaCurGatesList" parameterType="java.util.HashMap" resultMap="PlaystaGatesMap" resultType="com.zyyan.ms.term.entity.FloodPlaystaCurrent">
        select 
        rel.gate,
        c.TERM_SN,c.ALARM_INFO_ID,c.GATE,c.DATA_TM,c.PLAY_STATUS
        ,a.CONTENT
        ,a.ALARM_TYPE,a.CREATE_TIME,a.CREATE_PERSON,a.PUB_TIME,a.PUB_STATUS,a.TITLE,a.LEVEL,a.CONTENT,a.PLAY_NUM,a.FILE_TYPE,a.SN_NUM,a.GATE_NUM,a.CREATE_TIME,a.ID 
        from  FLOOD_VOX_ALARM a
        left join FLOOD_VOX_REL rel on a.ID=rel.ID
        left join FLOOD_PLAYSTA_CUR c on (a.ID=c.ALARM_INFO_ID and c.TERM_SN=rel.gate)
        <!--这个晚点再加条件-->
        where 1=1
        <if test="id != null and id !=''" >
            and  a.ID=#{id}
        </if>
        order by a.CREATE_TIME desc 
    </select>
</mapper>
