<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyan.ms.term.mapper.TermParamInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyyan.ms.term.entity.TermParamInfo">
        <id column="ID" property="id" />
        <result column="TAG" property="tag" />
        <result column="GROUP_ID" property="groupId" />
        <result column="NAME" property="name" />
        <result column="SHORT_NAME" property="shortName" />
        <result column="MIN_LEN" property="minLen" />
        <result column="MAX_LEN" property="maxLen" />
        <result column="MIN_VALUE" property="minValue" />
        <result column="MAX_VALUE" property="maxValue" />
        <result column="VALUE_TYPE" property="valueType" />
        <result column="COMBO_VALUE" property="comboValue" />
        <result column="DEFAULT_VALUE" property="defaultValue" />
        <result column="READONLY" property="readonly" />
        <result column="ALLOW_NULL" property="allowNull" />
        <result column="IS_VISIBLE" property="isVisible" />
    </resultMap>

</mapper>
