<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyan.ms.term.mapper.TermLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyyan.ms.term.entity.TermLog">
        <id column="ID" property="id" />
        <result column="TERM_SN" property="termSn" />
        <result column="TOPIC" property="topic" />
        <result column="ACTION" property="action" />
        <result column="PAYLOAD" property="payload" />
        <result column="RECIVE_TIME" property="reciveTime" />
    </resultMap>

</mapper>
