<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyan.ms.term.mapper.TermUpgradePkgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyyan.ms.term.entity.TermUpgradePkg">
        <id column="ID" property="id" />
        <result column="VERSION" property="version" />
        <result column="NAME" property="name" />
        <result column="PKG_FILE_NAME" property="pkgFileName" />
        <result column="PKG_PATH" property="pkgPath" />
        <result column="PKG_SIZE" property="pkgSize" />
        <result column="TERM_TYPE_ID" property="termTypeId" />
        <result column="TERM_MODEL_ID" property="termModelId" />
        <result column="CRC16" property="crc16" />
        <result column="REMARK" property="remark" />
    </resultMap>

</mapper>
